@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.CreateAlbumModel

<!DOCTYPE html>
<html lang="en">
@* Load a script for adding a button and fields for new track to create if user wants to *@
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/JavaScript">
    function add(){
    var new_chq_no = parseInt($('#total_chq').val())+1;
    var new_input="<br><label>Song title </label><input type='text' name='song[]' id='new_"+new_chq_no+"'>";
    $('#new_chq').append(new_input);
    $('#total_chq').val(new_chq_no)
    }
    function remove(){ 
    var last_chq_no = $('#total_chq').val();
    if(last_chq_no>1){
        $('#new_'+last_chq_no).remove();
        $('#total_chq').val(last_chq_no-1);
    }
    }

   </script>
    <title>Chinook Music</title>
</head>

<body>
    <h1>Chinook Music Store</h1>
    <form method="post" action="~/CreateAlbum">
        <fieldset>
            <legend>Add Album</legend>

            <div>
                <legend>Title</legend>
                <input type="text" name="titlename" required />
            </div>

            <br>
            @* Artist field *@
            <div> 
                
                <legend>Artist</legend>
                <input type="text" name="artist" list="artists" />
                <datalist id="artists">
                    @foreach (var i in Model.artists)
                        {
                        <option value="@i.ArtistId">@i.Name</option>
                        }
                </datalist>
            </div>

            <br>
            <div>
                <div>
                    <legend>Song title</legend>
                    <input type="text" name="song[]" required />
                    <button type="button" class="btn btn-secondary" onclick="add()">Add another track</button>
                    <button type="button" class="btn btn-secondary" onclick="remove()">Remove track</button>
                    <div id="new_chq"></div>
                    <input type="hidden" value="1" id="total_chq">
                </div>
                <br>
                <div>
                    <input type="submit" value="Submit" name="submit" class="btn btn-secondary" />
        </fieldset>
        @Html.AntiForgeryToken()
    </form>
    <div>
        <a asp-page="Index">Back to List</a>
    </div>
    <a asp-page="Index" class="btn btn-info">Back</a>
</body>

</html>