@page
@model WebApp.Pages.CreateAlbumModel
@{
    ViewData["Title"] = "Add an Album";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WebApp</title>
    <style>
        table,
        th,
        td {
            border: thin black solid
        }
        .buttons {
            padding: 1rem;
            margin: 10px;
            display: flex ;
            flex-direction:row ;

        }
        a {
        margin: 10px;
        }
    </style>
</head>

<body>
<h1>Create</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Album.Title" class="control-label"></label>
                <input asp-for="Album.Title" class="form-control" />
                <span asp-validation-for="Album.Title" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Album.Artist.Name" class="control-label"></label>
                <input asp-for="Album.Artist.Name" class="form-control" />
                <span asp-validation-for="Album.Title" class="text-danger"></span>
            </div> 
            
            <div>
            <label>Artist</label>
            <datalist>
                @foreach (var item in Model.Artist)
                {
                    <option>@item.Name</option>
                    
                }
            </datalist>
            </div> 
            <div class="form-group">
                <label asp-for="Album.Tracks" class="control-label"></label>
                <input asp-for="Album.Tracks" class="form-control" />
                <span asp-validation-for="Album.Tracks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
    <a asp-page="Index" class="btn btn-secondary">Back</a>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#ddlArtists").select2();
    });
    </script>
}

</html>